@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logoopacity {
    opacity: 0;
}


.navbar {
    width: 100%;
    height:70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    z-index: 1;
    background-color: white;
    position: static;
    transition: 0.5s;

    
        &__logo {
            
            transition: 0.6s;

            img {
                width: 150px;
                filter: drop-shadow(1px 1px 1px rgba(44, 44, 44, 0.534));
                transition: 0.4s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.4s;
                }
            }

        }

        &__links {
            display: flex;
            justify-content: space-around;
            width: 40%;
            align-items: center;

            li {
                list-style: none;
            }

            a {
                color: #23222e;
                text-decoration: none;
                display: inline-block;
                position: relative;
                font-size: 0.9rem;
                padding: 0rem 1rem;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 0;
                    bottom: 0;
                    height: 2px;
                    margin: -1px 1rem;
                    left: 0;
                    background: linear-gradient(45deg, #FFAB48 0%, #FA4545 90%);
                    transition: all 0.4s ease-in 0s;
                    border-radius: 2px;
                }
                &:hover:after {
                    width: 90%;
                }
            }
        }

        &__btnactive {
            background: linear-gradient(45deg, #FFAB48 0%, #FA4545 90%);
            border-radius: 5px;
            box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.363);
            transition: 0.3s;
            padding: 0.3rem 1rem;

            &:hover {
                box-shadow: none;
            }

            a {
                color: white;


                &:after {
                    content: none;
                }
                &:hover {
                    color: white;
                }
            }

        }

        &__burger {

            display: none;
            cursor: pointer;

            div {
                margin: 5px;
                width: 25px;
                height: 3px;
                background: #23222e;
                border-radius: 5px;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.342);
                transition: all 0.3s ease;
            }
        }
        
}

.floatingnav {
    position: fixed;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
    transition: 0.5s;
}


.main {
    width: 100%;
    height: 100vh;
    padding: 5em 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff38;

    &::before {
        content: '';
        position: absolute;
        background-image: url(/images/pattern.svg);
        background-repeat: repeat;
        background-size: 100%;
        top: 0;
        left: 0;
        width: 100%;
            height: 100vh;
            z-index: -1;
    }

    &__image {
        width: 50%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        img {
            width: 100%;
            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.377));
        }
    }

    &__title {
        color: #23222e;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        
        h1 {
            font-size: 2.5rem;
            line-height: 1.2em;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
        }
    }

    &__contact {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 1em;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 13em;
            text-align: center;
            text-decoration: none;
            color: white;
            background-image: linear-gradient( 45deg, #FFAB48 0%, #FA4545 100% );
            padding: 1em;
            border-radius: 10px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377);
            transition:.3s ease-in-out;

            &:hover {
                box-shadow: none;
                transition:.5s ease-in-out;

            }
        }
    }

}

.alemania {
    width: 100%;
    height: auto;
    background-image: url(/images/wave.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-image: url(/images/pattern.svg);
        background-repeat: repeat;
        background-size: 100%;
        top: 0;
        left: 0;
        width: 100%;
            height: 100vh;
            z-index: -1;
    }


    &__image {
        margin-bottom: 13em;
        width: 25%;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.377));
        }
    }

    &__title {
        margin-bottom: 13em;
        color: #23222e;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        
        h1 {
            font-size: 2.5rem;
            line-height: 1.2em;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
        }
    }

    &__btn {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 1em;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 13em;
            text-align: center;
            text-decoration: none;
            color: white;
            background-image: linear-gradient( 45deg, #FFAB48 0%, #FA4545 100% );
            padding: 1em;
            border-radius: 10px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377);
            transition:.3s ease-in-out;

            &:hover {
                box-shadow: none;
                transition:.5s ease-in-out;

            }
        }
    }
}

.process {
    min-height: 90vh;
    background-color: #FFAB48;
    background-image: url(/images/fondo1.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);

    &__titel {
        margin: auto;
        padding: 1em 0 0 0;
        width: 85%;
        color: white;
        font-size: 3rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
    }

    &__subtitel {
        margin: auto;
        padding: 0;
        width: 85%;
        color: white;
        font-size: 1.3rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
    }


    &__container {
        margin: 3em auto 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
    }

    &__card {

        height: 270px;
        width: 250px;
        background-image: url(/images/pattern.svg);
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.295);
        transition:.5s ease-in-out;

        img {
            width: 120px;
        }

        h4 {          
            text-align: center;
            padding: 0em 0.7em;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #2F2E41;
        }

        p {
            text-align: center;
        }

        &:hover {
            transform: scale(1.05);
            transition:.3s ease-in-out;
            background-color: linear-gradient();
        }

    }
}



.test2 {
    height: 100vh;
    background-image: url(/images/waveTop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    &::before {
        content: '';
        background-image: url(/images/pattern.svg);
        background-repeat: repeat;
        background-size: 100%;
        top: 0;
        left: 0;
        width: 100%;
            height: 100vh;
            z-index: -1;
    }
}

.test3 {
    height: 100vh;
    background-image: url(/images/wave.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    &::before {
        content: '';
        background-image: url(/images/pattern.svg);
        background-repeat: repeat;
        background-size: 100%;
        top: 0;
        left: 0;
        width: 100%;
            height: 100vh;
            z-index: -1;
    }
}

.alemaniaMain {
    width: 100%;
    height: 80vh;
    background-image: url(/images/frankfurt.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    

    &__title {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;

        h1 {
            line-height: 1;
            font-size: 5rem;
            color: white;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
        }

        div {
            width: 100%;
            height: 2px;
            background-color: white;
            border-radius: 3px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
        }
    
        h4 {
            color: white;
            font-size: 1.1rem;
            font-weight: 500;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
        }
    }

    &__image {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 65%;
            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.377));
        }
        
    }
    

}

.beneficios {
    height: auto;
    width: 100%;
    background-image: url(/images/waveTop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &::before {
        content: '';
        background-image: url(/images/pattern.svg);
        background-repeat: repeat;
        background-size: 100%;
        top: 0;
        left: 0;
        width: 100%;
            height: 100vh;
            z-index: -1;
            position: absolute;
    }
    h1 {
        width: 70%;
        margin-top: 15rem;
        font-size: 3rem;
        color: #23222e;
        text-align: center;
    }

    &__container {
        width: 90%;
        margin-top: 5rem;
        margin-bottom: 4rem;
        display: grid;
        row-gap: 4rem;
        grid-auto-rows: 6rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 2fr));
        align-items: start;
        justify-content: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 25%;
        }

        p {
            margin-top: 0.7rem;
            text-align: center;
            width: 70%;
            color: #23222e;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.288);
        }
    }

    &__buttons {
        margin: auto;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    &__btn {
        width: 250px;
        margin: auto;
        padding: 0.5rem 2rem;
        outline: none;
        border: 2px solid;
        background-color: transparent;
        border-radius: 10px;
        border-color: #FA4545;

        &:hover {
            background: linear-gradient( 45deg, #FFAB48 0%, #FA4545 100% );
            border-color: white;
            color: white;
        }

        &:hover a {
            color: white;
        }

        a{
            font-size: 1.4rem;
            text-decoration: none;
            color: #FA4545;
        }
    }

}

.requisitos {
    height: auto;
    background-image: url(/images/pattern.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 100%;
    }

    h1 {
        width: 95%;
        margin: auto;
        color: #2F2E41;
        font-size: 2.5rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.144);
    }

    &__container {
        width: 80%;
        margin: 2rem auto;
        display: flex;
        height: 100%;
        justify-content:start;
        color: #23222e;
        gap: 2rem;
    }

    &__line {
        width: 4px;
        height: auto;
        background: radial-gradient( #FFAB48, #FA4545 );
    }

    &__content {
        width: 100%;
        div {
            margin-top: 2rem;

            h2 {
                color: #2F2E41;
                font-weight: 600;
                
                div {
                    display:inline-block;
                    width: 20px;
                    height: 4px;
                    background: #FA4545;
                }

                span {
                    font-weight: 800;
                    background: -webkit-linear-gradient(45deg, #FFAB48, #FA4545 80%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            ul {
                li {
                    width: 100%;
                    margin: 1rem auto 0 0rem;
                    list-style: none;

                    &::before {
                        content: "-";
                        color: #FA4545;
                        font-weight: bold;
                        font-size: 1.5rem;
                        display: inline-block; 
                        width: 1em;
                        margin-top: 5em 0 0 -1em;
                    }
                }
            }
        }


    }

    p {
        margin: 2rem auto;
        color: #23222e;
        width: 80%;
        font-size: 1.2rem;
    }
}

.footer {
    width: 100%;
    height: 50vh;
    background-image: url(/images/neuschweinstein.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    ul {
       
        li{
            margin: 0.4rem auto;
             
            a {
                color: white;
                text-decoration: none;
                display: inline-block;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 0;
                    bottom: 0;
                    height: 2px;
                    margin: -1px 0;
                    left: 0;
                    background-color: white;
                    transition: all 0.4s ease-in 0s;
                }
                &:hover:after {
                    width: 100%;
                }
            }
        }
    }
    

    &__info {
        width: 20%;
        list-style-type: none;
        margin: 4em 0;
        li {
            font-weight: 300;
            img {
                width: 40%;
            }
        }
    }

    &__nosotros {
        width: 20%;
        list-style-type: none;
        margin: 4em 0;
        li {
            font-weight: 300;
            h3 {
                font-size: 1.5rem;
                font-weight: 400;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
            }
        }
    }

    &__data {
        width: 20%;
        list-style-type: none;
        margin: 4em 0;
        li {
            font-weight: 300;
            h3 {
                font-size: 1.5rem;
                font-weight: 400;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
            }
        }
    }
    
    &__redes {
        width: 10%;
        height: 104px;
        margin: 4em 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            padding: 10px;
            background-color: white;
            border-radius: 100%;
            filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.336));
            transition:.3s ease-in-out;

            &:hover {
                transition:.3s ease-in-out;
                transform: scale(1.1);
                filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.336));
            }
        }
        img {
            width: 30px;
            height: 30px;
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.336));
        }
    }
}




@media screen and (max-width: 767px) {

    body{
        overflow-x: hidden;
    }

    .navbar {
        &__links {
            position: absolute;
            right: 0px;
            height: 100vh;
            top: 8vh;
            display: flex;
            flex-direction: column;
            background: white;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            transform: translateX(100%);
            transition: 0.5s ease-in;
            z-index: 1;

            li {
                text-align: center;
                width: 80%;
                opacity: 0;

                a {
                    font-size: 1.5rem;
                }

            }
        }

        &__burger {
            display: block;
        }
       
    }

    .main {
        height: auto;
        padding: 5em 2em;
        flex-direction: column;

        &__image {
            width: 100%;
            display: flex;
            justify-content: center;
            overflow: hidden;
            img {
                width: 100%;
                filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.377));
            }
        }
    

        &__title {
            width: 100%;
            text-align: center;
            margin-top: 3rem;
        }
    }
    
    .alemania {
        height: auto;
        padding: 0em 2em;
        flex-direction: column-reverse;

        &__image {
            width: 90%;
            display: flex;
            justify-content: center;
            overflow: hidden;
            margin: 0 auto 4em auto;
            img {
                width: 100%;
                filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.377));
            }
        }
    

        &__title {
            text-align: center;
            height: 200px;
            width: 100%;
        }

        &__btn {
            display: flex;
            justify-content: center;
            margin: auto;
        }
    }

    .process {

        text-align: center;
        &__container {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        &__card {
            margin: 1.5em 0;
            width: 85%;
        }
    }

    .alemaniaMain {
        flex-direction: column;
        justify-content: space-evenly;
        &__title {
            width: 95%;
            text-align: center;
            margin-top: 7rem;

            h1 {
                font-size: 3.4rem;
            }
        }

        &__image {
            width: 100%;
            img {
                width: 80%;
            }
        }
    }

    .requisitos {

        h1 {
            width: 80%;
            text-align: center;
        }
        &__container {
            

            &__content {

            }
        }
    }

    .beneficios {
        &__buttons {
            flex-direction: column;
        }
    }


    .footer {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 90vh;
        text-align: center;
        ul {
            width: 70%;
            margin: 0.2em 0;
        }
    }
}



.navbar__active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navbarLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

